
#bookmark_container {
  min-height: 100%;
}

#bookmark_list {
  list-style: none;
}


#bookmark_container .bookmark {
  float: left;
  margin-top: 50px;
  height:230px;
  padding : 0 !important;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #999;
}

#bookmark_container .bookmark_content {
  width: 100%;
  height: 200px;
}

#bookmark_container .bookmark_del {
  width: 90%;
  margin-left: 5%;
  height: 30px;
  border-top: 1px solid #BDBDBD;
}

#bookmark_container .delete_button {
  width: 30px;
  height: 29px;
  border-top: 1px black;
  outline: none;
  padding: 0;
  cursor: pointer;
  border: 0;
  background-color: white;
  float: right;
}
