
#login {
    float: right;
    margin-right: 50px;
}
#login-main {
    float: right;
    margin-top: 50px;
    margin-right: 50px;
}
#main {
    margin-top: 150px;
}

#footer {
    position:absolute;
    padding: 10px;
    bottom:0;
    width:100%;
    height:40px;
    background-color: #F2F2F2;
}
.row {
    margin : 0;
}
