#login {
  float: right;
  margin-right: 50px;
}

#login-main {
  float: right;
  margin-top: 50px;
  margin-right: 50px;
}

#main {
  margin-top: 150px;
}

#footer {
  clear: both;
  margin-top: -40px;
  padding: 10px;
  bottom: 0;
  height: 40px;
  background-color: #F2F2F2;
}

.row {
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

section {
  min-height: 100%;
  padding-bottom: 40px;
}

.input-group {
  width: 100%;
}

#common\ header {
  background-color: #6ba8e9;
  margin: 0;
  padding: 10px 50px 10px 50px;
  height: 50px;
  color: white;
  text-align: left;
}

#oss {
  margin-left: 50px;
}

dl {
  margin-top: 50px;
}

dt {
  margin-top: 30px;
  font-size: 20px;
  color: #000;
}

dd {
  color: #888;
}

.license a {
  text-decoration: none;
  color: #999;
}

#license {
  margin-left: 50px;
}

.bookmark_container {
  min-height: 100%;
  background-color: #F2F2F2;
  list-style: none;
  padding: 0 50px 50px 50px;
}

#bookmark_list {
  background-color: #F2F2F2;
  list-style: none;
}

.bookmark {
  float: left;
  margin: 40px;
  width: 250px;
  height: 300px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #999;
}

.bookmark_content {
  height: 270px;
}

.bookmark_del {
  height: 30px;
  background-color: #F2F2F2;
}

.delete_button {
  width: 30px;
  height: 30px;
  outline: none;
  padding: 0;
  cursor: pointer;
  border: 0;
  background-color: #F2F2F2;
  float: right;
}

.ui-menu-item{
    margin: 0px;
    padding-bottom: 5px;
    padding-top:5px;
    padding-left: 20px;
}
