.ui-menu{
    background: white;
    border: 1px solid #c2cad8;
    margin-right: 52px;
    padding-left: 0px;
    text-align: left;
}

#footer{
    position: absolute;
    width: 100%;
}

body{
    overflow: hidden;
}

.ui-menu-item{
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}